 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Qué hacemos?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>En 3dtodo hacemos de todo, en 3d. Así de simple.</p>
                    <p>Si tenés que hacer un regalo único a alguien especial (consejo: ese alguien especial podés ser vos!), si querés algún adorno para tu casa o tu cuarto, tener una figura de algún personaje que te guste, nosotros te lo podemos hacer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Pero no termina ahí!</p>
                    <p>También hacemos cosas útiles. Si se te rompió algo y no encontrás el repuesto por ningún lado, necesitás hacer un proyecto para la facultad, o simplemente llevar a la realidad una idea, nosotros también te lo hacemos...</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Las posibilidades son infinitas! Así que no dudes en ponerte en contacto con nosotros por cualquier consulta que tengas. </p>
                </div>
            </div>
        </div>
    </section>